/* .product:hover img {
  animation: blurThenClear 1s ease forwards;
}


@keyframes blurThenClear {
  0% {
    filter: blur(0px);
    box-shadow: 0px 0px 0px 0px;
  }

  50% {
    filter: blur(2px);
    box-shadow: 3px 3px 2px 2px;
    
  }

  100% {
    filter: blur(0px);
    box-shadow: 5px 5px 5px 0px;
  }
} */
 